.connection-settings h1 select {
  border:0px;
  border-radius:25px;
  -moz-border-radius:25px; 
}
  
.connection-settings h1 select option {
  text-align: center;
  text-shadow: 0px 1px 0px #fff;
  margin-bottom: 25px;
  color: #999;
  font-weight: normal;
}
  